.carousel-first .left.carousel-control {
    left: -10px;
}

.carousel-first .right.carousel-control {
    right: -30px;
}


.market-research-report .left.carousel-control {
	left: 0;
	}

.market-research-report .right.carousel-control {
	right: -118px;
	}

.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:visited, .nav>li>a:active, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav .open>a:visited {
	background: transparent;
	}

.dropdown-menu, .dropdown-submenu .dropdown-menu   {
    display: none !important;
}

/* Show dropdown on hover */
.show-on-hover:hover  .dropdown-menu.ie-dropdown {
    display: block !important;
}
.dropdown-submenu:hover .dropdown-menu {
    display: block !important;   
}