body {
	font-family: 'Helvetica';
	overflow-x: hidden;

	}


/* common helper class */

.img-center {
	display: block;
	margin: 0 auto;
	clear: both;
	}

.body-inverse {
	background-color: #333333;
	}

.black-patch {
	background-color: #131313;
	}

.gap1 {
	display: block;
	height: 1px;
	clear: both;
	}

.gap5 {
	display: block;
	height: 5px;
	clear: both;
	}

.gap10 {
	display: block;
	height: 10px;
	clear: both;
	}

.gap20 {
	display: block;
	height: 20px;
	clear: both;
	}

.gap50 {
	display: block;
	height: 50px;
	clear: both;
	}

.remove-padding {
	padding: 0!important;
	}
.remove-padding-left {
	padding-left: 0!important;
	}

.text-red {
	color: #c54444;
	}
.remove-margin-ltrt{
	margin-left: 0;
	margin-right: 0;
}

/* end common helper class */
/* header css */

.pre-header ul a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 11px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	}

.pre-header {
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	}

.pre-header ul {
	margin: 0;
	line-height: initial;
	}

.pre-header ul li {
	line-height: 22px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	}

.pre-header ul {
	margin-bottom: -2px;
	}
.left-nav-pre-header li:hover a{
	color: #cc0000;
}
.left-nav-pre-header li:before {
	content: "|";
	position: absolute;
	font-size: 12px;
	color: #fff;
	left: -4px;
	}

.left-nav-pre-header li:first-child:before {
	content: "";
	position: absolute;
	}

.left-nav-pre-header li:first-child {
	padding-left: 0;
	}

.right-nav-pre-header {
	position: relative;
	top: 1px;
	}

.pre-header .right-nav-pre-header li {
	padding-right: 0;
	padding-left:	5px;
	}

.logo-container {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	}

.logo {
	margin-top: 7.5%;
	}

.header-advertisement img {
	width: 100%;
	}
header {
	background-color: #fff;
	}
.special-section-container li a {
	color: #000000;
	text-transform: uppercase;
	}
.special-section-container ul {
	font-size: 11px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: 600;
	}
.special-section-container ul > .dropdown-submenu > ul {
	margin-top: 0px;
	}
.special-section-toggle>li .dropdown-menu {
    background-color: #525252;
	}
.special-section-toggle>li .dropdown-menu li a:hover {
    background-color: #7a2e2f;
    color: #fff;
	}
.special-section-toggle .dropdown-menu li .glyphicon {
    top: -5px;
	}
.special-section-toggle .dropdown-menu li:hover .glyphicon {
    top: -5px;
	}
.special-section-toggle .dropdown-menu li a {
    line-height: 5px;
    font-size: 11px;
	}

.search-box-header {
	margin-top: -5px;
	margin-right: 10px;
	}
.search-box-header-mobile{
	display: none;
	margin-bottom: 8px;
	}
/*Placeholder css*/
input[type="text"].holder-color::-webkit-input-placeholder {
  color: #adadad;
}
input[type="text"].holder-color::-o-input-placeholder {
  color: #adadad;
}
input[type="text"].holder-color::-moz-placeholder { /* Firefox 18- */
    color: #515151;
   
}

/*Index page css start*/
/*marquee and breaking news css*/
.marquee {
    width: 85%;
    overflow: hidden;
	margin-top: 0;
}
.breaking-news span{
	color: #c54444;
	text-transform: uppercase;
}
.breaking-news span a{
	color: #c54444;
	text-decoration: none;
}
.breaking-news i{
	display: none;
	color: #333333;
}
.breaking-news h4 {
	font-size: 12px;
	font-family: "Helvetica";
	color: #767676;
	background-color: #f1f1f1;
    padding: 5px 10px;
	margin-top: 40px;
}
.breaking-news h4 a{
	color: #767676;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.breaking-news h4:hover a{
	color: #000;
}
.breaking-news h4 span a{
	font-weight: bold;
	text-decoration: none;
	color: #cc0000;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;

}
.breaking-news h4 img{
	float: right;
	padding-top: 1px;
	cursor: pointer;
}
.breaking-news h4 i{
	cursor: pointer;
}
/*Latest News css */
.latest-news-section{
	margin-bottom: 20px;
}
.latest-news-section .latest-new-list{
	margin: 0;
}
.latest-news-section img{
	margin-right: 14px;
}
.latest-news-section .row{
	margin-left: 0;
	margin-right: 0;
}
.latest-news h4{
	font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
}
.latest-news-section h3 a{
	text-decoration: none;
	color: #000;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.latest-news-section h3:hover a {
    color: rgb(35, 79, 136);
}
.latest-news-section h3{
	font-size: 18px;
	font-family: 'Georgia';
	line-height: 21.2px;
	position: relative;
	top: -3px;
	margin-top: 0;
	margin-bottom: 0;
}
.latest-news-section p {
	font-size: 13px;
	 font-family: 'Georgia';
	color: rgb(0, 0, 0);
	margin-bottom: 0px;
}
.latest-news-section .date{
	 font-size: 12px;
	 font-family: 'Georgia';
	color: #999999;
	margin-bottom: 5px;
}
/*Press Releases css*/
.press-releases h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 28px;
	margin-bottom: 0;
}
.press-releases ul li{
	 padding: 8px 0;
	 border-bottom: 1px solid #dadada;
}
.press-releases ul li a{
	 font-size: 13px;
	 font-family: "Georgia";
	 color: rgb(0, 0, 0);
	 line-height: 20px;
	 text-decoration: none;
	 -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.press-releases ul li:hover a{
	 color: #c54444;
}
.slim-scrollbar{
	margin-left: 0px;
	float: left;
	height: 865px;
	width: 100%;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow{
	min-height: 450px;
}
#press-releases-list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f2f2f2;
}
#press-releases-list::-webkit-scrollbar{
	width: 6px;
	background-color: #f2f2f2;
	height: 350px;
}
#press-releases-list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999999;
}

.red-button .btn{
	font-size: 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background-color: #c54444;
	border: 0;
	border-radius: 0;
	width: 100%;
	height: 25px;
	margin-top: -15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.red-button .btn:hover,
.red-button .btn:focus{
	background-color: #000;
}
.martp-27{
	margin-top: 27px;
}
/* Rhs section css Poll design and ifram css*/
.iframe-section1{
	margin-top: -40px;
}
.iframe-img-listing{
	margin-bottom: 35px;
}
.poll-design{
	border: 1px solid #dadada;
    padding: 7px 5px;
    border-radius: 10px;
}
.poll-design .form-group{
	padding-left: 25px;
}
.poll-design h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 0px;
	margin-bottom: 0;
}
.poll-design p{
	font-size: 13px;
	color: #7a7a7a;
	margin-top: 15px;
	margin-bottom: 0px;	
	padding-left: 5px;
}
.poll-design label{
	font-size: 13px;
	color: #7a7a7a;
}
.vote-button .btn{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #747474;
	display: block;
	width: 105px;
	height: 25px;
	padding: 4px 12px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.vote-button .btn:hover,
.vote-button .btn:focus{
	background: #c54444;
}
.vote-results p a{
	font-size: 13px;
	color: #234f88;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.vote-results p:hover a{
	color: #c54444;
}
.vote-results p{
	margin-bottom: 2px !important;
	margin-top: 0 !important;
}
/*News headlines css*/
.news-headlines h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 28px;
	margin-bottom: 3px;
}
/*News Carousel css*/
.news-headlines .carousel{
	border: 1px solid #dadada;
	padding-bottom: 50px;
}
.news-carousel h3{
	font-size: 14px;
    font-family: 'Georgia-Bold';
	color: rgb(0, 0, 0);
	line-height: 1.2;
	margin-top: 15px;
	margin-bottom: 5px;
}
.news-carousel h3 a{
	text-decoration: none;
	color: rgb(0,0,0);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.news-carousel h3:hover a{
	color: #c54444;
}
.news-carousel p{
	font-size: 13px;
    font-family: 'Georgia';
	color: rgb(0, 0, 0);
	line-height: 20px;
	margin-bottom: 3px;
}
.news-carousel .news-time{
	font-size: 12px;
    font-family: 'Georgia';
	color: #999999;
	margin-bottom: 5px;
}
.news-headlines .carousel-control.right {
	background-image: none;
}
.news-headlines .carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 7px 5px 0px;
    background-color: #c54444;
}
.news-headlines .carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 7px 5px 0px;
    border: 2px solid #c54444;
}
.news-headlines .carousel-indicators {
    bottom: -10px;
    left: 30%;
    width: 100%;
    background-color: #f1f1f1;
}
/*Featured Articles  section css*/
.featured-article-lhs h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	 text-transform: uppercase;
	 letter-spacing: 0.5px;
	 background-color: #131313;
     padding: 5px 10px 2px;
	 margin-top: 28px;
	 margin-bottom: 0;
}
.featured-article-lhs{
	padding-left: 0;
}
.article-group{
	margin: 0;
}
.featured-article-list .row{
	margin-left: 0;
	margin-right: 0;
}
.featured-article-lhs .featured-article-list h3{
	font-size: 18px;
	font-family: 'Georgia';
	color: rgb(35, 79, 136);
	margin-top: 0px;
}
.featured-article-lhs .featured-article-list h3 a{
	color: rgb(35, 79, 136);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.featured-article-lhs .featured-article-list h3:hover a{
	color: #c54444;
}
.featured-article-lhs .featured-article-list p{
	font-size: 13px;
	font-family: 'Georgia';
	color: rgb(0, 0, 0);
	line-height: 20px;
	position: relative;
    top: -5px;
	margin-bottom: 0;
}
.featured-article-lhs .featured-article-list  img{
	margin-right: 10px;
}
.featured-article-lhs .featured-article-list {
	background-color: #f1f1f1;
	padding: 7px 10px 10px;
	border-bottom: 2px solid #adadad;
	margin-bottom: 10px;
}
.featured-article-rhs{
	margin-top: 28px;
}
.featured-article-rhs .nav-pills>li.active>a, 
.featured-article-rhs .nav-pills>li.active>a:focus, 
.featured-article-rhs .nav-pills>li.active>a:hover {
	color: rgb(69, 69, 69);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
.featured-article-rhs .nav-pills>li.active:first-child>a, 
.featured-article-rhs .nav-pills>li.active:first-child>a:focus, 
.featured-article-rhs .nav-pills>li.active:first-child>a:hover {
	border-left: 0;
}
.featured-article-rhs .nav>li>a:focus, .featured-article-rhs .nav>li>a:hover, .featured-article-rhs .nav>li>a:visited,
.featured-article-rhs .nav>li>a:active, .featured-article-rhs .nav .open>a, 
.featured-article-rhs .nav .open>a:focus, .featured-article-rhs .nav .open>a:hover, .featured-article-rhs .nav .open>a:visited {
    background-color: transparent;
    color: rgb(69, 69, 69);
}
.featured-article-rhs .nav-pills>li.active {
	border-bottom: none;
	}
.featured-article-rhs .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 8px;
}
.featured-article-rhs .nav{
	border: 1px solid #dadada;
	background-color: #f1f1f1;
	border-bottom: none;
}
.featured-article-rhs .nav-pills>li+li {
    margin-left: 5px;
}
.featured-article-rhs ul li a{
	font-size: 13px;
	font-family: "Roboto-Bold";
	color: rgb(69, 69, 69);
}
.featured-article-rhs .tab-content ul li a{
	 font-size: 13px;
	 font-family: "Georgia";
	 color: rgb(35, 79, 136);
     text-decoration: none;
}
.featured-article-rhs .tab-content ul li {
	padding-bottom: 8px;
}
.featured-article-rhs .tab-content{
	border: 1px solid #dadada;
	padding: 15px 10px;
	border-top: none;
}
.featured-article-rhs .tab-content .more-button .btn{
	 font-size: 13px;
	 color: rgb(255, 255, 255);
	 text-transform: uppercase;
	 width: 151px;
	 height: 25px;
	 padding: 5px 12px;
	 margin-top: -6px;
	 background-color: #c54444;
	 border: 0;
	 border-radius: 0;
	 -webkit-transition: all 0.3s linear;
	 -moz-transition: all 0.3s linear;
	 -o-transition: all 0.3s linear;
	 transition: all 0.3s linear;
}
.featured-article-rhs .tab-content .more-button .btn:hover,
.featured-article-rhs .tab-content .more-button .btn:focus{
	 background-color: #000;
}
/*Reveiws css*/
.reviews h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	 text-transform: uppercase;
	 letter-spacing: 0.5px;
	 background-color: #131313;
     padding: 5px 10px 2px;
	 margin-top: 28px;
	 margin-bottom: 10px;
}
.reviews .reviews-img-listing{
	margin-bottom: 25px;
}
/*Market research report css*/
.market-research-report h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #131313;
    padding: 5px 10px 2px;
	margin-bottom: 0;
}
.market-research-report h2 a{
	text-decoration: none;
}
.market-research-report h2 .btn{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 4px 12px;
	height: 22px;
    margin-top: -6px;
	margin-right: -10px;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	background-color: #c54444;
}
.market-research-listing .item h3{
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(0, 0, 0);
	margin-top: 0;
	margin-bottom: 5px;
}
.market-research-listing .item h4{
	font-size: 13px;
	font-family: "Georgia";
	color: rgb(48, 88, 145);
	text-transform: uppercase;
	border-bottom: 1px dashed #a18b02;
	padding-bottom: 3px;
}
.market-research-listing .item ul li{
	font-size: 13px;
	font-family: "Georgia";
	color: #333333;
	line-height: 20px;
}
.market-research-listing .item ul li a{
	color: #333333;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.market-research-listing .item ul li:hover a{
	color: #c54444;
}
.market-research-report .carousel{
	background-color: #eef2f6;
	padding:12px 30px 0px;
	border-bottom: 2px solid #adadad;
}

.market-research-report .carousel-control.left {
    background-image: none;
    left: -68px;
}
.market-research-report .carousel-control.right {
    background-image: none;
    right: -50px;
}
/*Domain-b shopping*/
.domain-b-shopping-lhs{
	margin-top: 28px;
}
.domain-b-shopping-lhs h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #c54444;
    padding: 9px 15px 5px;
	margin-bottom: 0;
}
.domain-b-shopping-lhs .row{
	margin: 0;
}
.domain-b-shopping-lhs .case-studies h3 a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-lhs .case-studies h3:hover a{
	color: #c54444;
}
.domain-b-shopping-lhs .case-studies h3{
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	margin-top: 0;
}
.domain-b-shopping-lhs .case-studies p{
	font-size: 12px;
	font-family: "Georgia";
	color: #adadad;
	margin-top: 5px;
	margin-bottom: 0;
}
.domain-b-shopping-lhs .case-studies{
	background-color: #131313;
	padding: 10px 15px;
	border-bottom: 1px dashed #a18b02;
}
.domain-b-shopping-lhs .case-studies .more-details a{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-lhs .case-studies .more-details:hover a{
	color: #c54444;
}
.domain-b-shopping-lhs .case-studies .more-details{
	margin-top: 15px;
}
.domain-b-shopping-lhs .case-studies .more-details img{
	margin-left: 3px;
}
.domain-b-shopping-lhs .border-bottom-none{
	border-bottom: none !important;
}
.domain-b-shopping-rhs{
	margin-top: 28px;
}
.domain-b-shopping-rhs .domain-b-shopping-header{
	background-color: #cbcbcb;
	height: 32px;
	margin-bottom: 30px;
}
.domain-b-shopping-header .domain-b-shopping-img{
	padding-left: 20px;
	position: relative;
    top: -6px;
}
.domain-b-shopping-rhs .explore-more a{
	font-size: 13px;
	color: rgb(35, 79, 136);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-rhs .explore-more:hover a{
	color: #c54444;	
}
.domain-b-shopping-rhs .explore-more{
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	padding-top: 6px;
    padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 25px;
}
.domain-b-shopping-rhs .explore-more img{
	position: relative;
    right: -10px;
    top: -1px;
}
/*footer css*/
footer .footer-menu ul li a{
	font-size: 13px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
footer .footer-menu ul li:hover a{
	color: #c54444;
}
footer .footer-menu ul li{
	display: inline-block;
	padding-left: 5px;
}
footer .footer-menu ul li strong{
	margin-left:8px;
}
footer .footer-menu{
	margin-top: 65px;
}
footer .footer-black-patch p{
	font-size: 13px;
	color: rgb(255, 255, 255);
	margin-bottom: 0;
    padding: 8px;
}
footer .footer-black-patch p a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
footer .footer-black-patch p a:hover{
	color: #c54444;
}
footer .footer-black-patch{
	background-color: #333333;
	border-bottom: 2px solid #fff;
}
.footer-white-patch{
	margin: 5px auto;
}
/*--------------Insidepage_2 css start -------------------*/
.insidepage-container .insidepage-lhs article{
	width: 450px;
}
.insidepage-container .insidepage-lhs article h2{
	font-size: 30px;
	font-family: "GothamBlack";
	color: rgb(0, 0, 0);
	margin-top: 0px;
	margin-bottom: 25px;
}
.insidepage-container .insidepage-lhs article .article-date{
	font-size: 16px;
	font-family: 'Georgia';
	color: #767676;
	margin-bottom: 20px;
}
.insidepage-container .insidepage-lhs article p{
	font-size: 16px;
	font-family: 'Georgia';
	color: rgb(0, 0, 0);
	line-height: 1.625;
	margin-top: 15px;
	margin-bottom: 0;
}
.insidepage-container .insidepage-lhs article p img{
	margin-top: 8px;
}
.insidepage-lhs .latest-domain-b-report{
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 25px;
}
.insidepage-lhs .latest-domain-b-report h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.insidepage-lhs .latest-domain-b-report ul li a{
	font-size: 14px;
	font-family: "Georgia";
	color: rgb(81, 81, 81);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.insidepage-lhs .latest-domain-b-report ul li:hover a{
	color: #c54444;
}
.insidepage-lhs .latest-domain-b-report ul li{
	padding: 7px 0px;
    border-bottom: 1px solid #dadada;
    margin: 0px 10px;
}
.insidepage-lhs .latest-domain-b-report ul li:last-child{
    border-bottom: 0;
}
.insidepage-lhs .latest-domain-b-report .red-button .btn{
	 width: 222px;
	 padding: 5px 12px;
	 margin: -7px 10px 13px;
}
.resereach-reports-section{
	border: 1px solid #dadada;
	margin-top: 25px;
}
.resereach-reports-section h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.resereach-reports-section .resereach-reports-listing{
	background-color: #3975ba;
	padding: 10px;
}
.resereach-reports-section .resereach-reports-listing select{
	width: 100%;
    height: 30px;
	margin-bottom: 10px;
	color: #262a39;
}
.resereach-reports-section .resereach-reports-listing select option{
	font-size: 13px;
	font-family: "Georgia";
	color: #262a39;
}
.resereach-reports-section .resereach-reports-listing h3{
	font-size: 17px;
	font-family: "Georgia";
	color: rgb(255, 220, 0);
	text-transform: uppercase;
	margin-top: 0;
	border-top: 1px dashed;
    padding-top: 7px;
}
.resereach-reports-listing h3:first-child{
	border: 0;
	padding-top: 0;
}
.resereach-reports-listing ul .browse-all-reports a{
	color: rgb(255, 220, 0) !important;
}
.resereach-reports-listing ul .browse-all-reports:hover a{
	color: #fff !important;
}
.resereach-reports-listing ul .browse-all-reports a i{
	position: relative;
	top: 2px;
}
.resereach-reports-section .resereach-reports-listing ul li a{
	font-size: 15px;
	font-family: "Georgia";
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.resereach-reports-section .resereach-reports-listing ul li:hover a{
	color: rgb(255, 220, 0)
}
.resereach-reports-section .resereach-reports-bottom-section{
	padding: 5px 8px;
	border-bottom: 1px solid #dadada;
	background: #fff;
}
.domain-b-shopping-rhs .explore-more-products a{
	font-size: 13px;
	font-family: 'Georgia-Bold';
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-right: 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-rhs .domain-b-shopping-header-gap{
	margin-bottom: 12px;
}
.domain-b-shopping-rhs .explore-more-products:hover a{
	color: #c54444;	
}
.domain-b-shopping-rhs .explore-more-products{
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	background-color: #939192;
	padding-top: 4px;
    padding-bottom: 23px;
	margin-top: 0;
    margin-bottom: 12px;
}
.domain-b-shopping-rhs .explore-more-products i{
	position: relative;
    top: 2px;
    left: 5px;
}
.domain-b-shopping-border{
	border: 1px solid #dadada;
	border-bottom: 0;
}
/*--------------Insidepage_2 css start -------------------*/

/*Sticky social icons*/
.sticky-container{
	padding: 0px;
    margin: 0px;
    position: fixed;
	right: 0px;
    top: 285px;
    width: 43px;
    z-index: 1;
}
.sticky li i{
	float: left;
    margin: 12px 15px;
    margin-right: 38px;
    font-size: 23px;
	color: #fff;
}
.sticky-container .sticky li{
	list-style-type: none;
	color: #fff;
	height: 48px;
	padding: 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor: pointer;
}
.sticky .facebook{
	background-color: #305891;
}
.sticky .facebook:hover{
	margin-left: -20px;	
}
.sticky .linkdin{
	background-color: #4498c8;
}
.sticky .linkdin:hover{
	margin-left: -20px;	
}
.sticky .twitter{
	background-color: #2ca8d2;
}
.sticky .twitter:hover{
	margin-left: -20px;	
}
.sticky .print{
	background-color: #738a8d;
}
.sticky .print:hover{
	margin-left: -20px;	
}
.sticky .plus{
	background-color: #f8694d;
}
.sticky .plus:hover{
	margin-left: -20px;	
}
/* sticky social icons*/



/*Alert page css*/

.gray-bg{
	background: #dfe5e9;
	float: left;
    width: 100%;
}
.alert-breadcrumb{
	background: url("../images/alert-bg.jpg");
	height: 110px;
}
.breadcrumb-bg{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.alert-container:before{
	content: "";
	position: absolute;
	background: url("../images/alert-img.png");
	width: 257px;
	height: 110px;
	margin-top: 15px;
}
.select-link-section{
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	float: left;
    width: 100%;
	margin-top: 94px;
	position: relative;
    margin-bottom: 30px;
}
.select-link-section .alert-link-listing span.select{
	font-size: 15px;
	color: rgb(255, 255, 255);
	background: #b13636;
	border-radius: 7px;
    padding: 2px 10px;
    text-transform: uppercase;
	margin: -6px 7px 0 0;
	font-weight: 700;
}
.alert-link-listing{
	float: left;
	padding: 15px 20px 0;
	height: 80px;
    overflow: hidden;
}
.select-link-section .alert-link-listing a{
	display: inline-block;
}
.select-link-section .alert-link-listing a{
	font-size: 14px;
	color: #305891;
	font-family: 'Georgia';
	text-decoration: none;
}
.select-link-section .alert-link-listing a strong{
	font-family: 'Georgia-Bold';
}
.select-link-section .alert-link-listing a:hover{
	color: #b13636;
}
.select-link-section .load-more{
	float: left;
    width: 100%;
	position: relative;
    z-index: 0;
	margin-top: -11px;
    top: 13px;
}
.load-more .btn{
	font-size: 14px;
	color: rgb(255, 255, 255);
	border-radius: 13px;
	background-color: rgb(51, 51, 51);
	width: 185px;
	margin: 0 auto;
	display: block;
    padding: 1px 12px 3px;
	border: 0;
}
.load-more .btn i{
	font-size: 20px;
    position: relative;
    top: 4px;
    display: inline-block !important;
}
.load-more .btn:hover, .load-more .btn:focus, .load-more .btn:active{
	outline: none;
	background: #b13636;
	color: #fff;
}
.blur-overlay{
	background: #ffffff;
    float: left;
    overflow: hidden;
    filter: blur(6px);
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	 -o-filter: blur(6px);
	 -ms-filter: blur(6px);
    position: absolute;
    height: 20px;
    /* top: 0; */
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: 0;
}
.hidden-alert-links{
	display: none;
}
.alerts-listing{
	border-radius: 6px;
    background-color: rgb(255, 255, 255);
	padding: 10px;
	float: left;
	margin: 0 -10px 10px;
}
.alerts-listing h2{
	font-size: 18px;
	font-family: 'GothamBlack';
	color: #000;
	margin-bottom: 2px;
	margin-top: 0;
}
.alerts-listing span{
	font-size: 13px;
	font-family: 'Georgia';
	color: #767676;
	font-style: italic;
	display: block;
    position: relative;
    margin-bottom: 5px;
}
.alerts-listing p{
	font-size: 15px;
	font-family: "Georgia";
	color: rgb(0, 0, 0);
	line-height: 1.4;
	margin-top: 10px;
}
.alerts-listing img{
	border-radius: 10px;
}
.manage-btn{
	 background: #d3b35d;
    float: right;
    padding: 1px 18px 3px;
    margin-right: -15px;
    position: relative;
    margin-bottom: 5px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.manage-btn a{
	font-size: 15px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);

}
.manage-btn:hover, .manage-btn:focus{
	background: #b13636;
}
.manage-btn:after{
	content: "";
    position: absolute;
    bottom: -12px;
    right: -6px;
    transform: rotate(177deg);
    -webkit-transform: rotate(177deg);
    -moz-transform: rotate(177deg);
    -o-transform: rotate(177deg);
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    z-index: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.alert-container .resereach-reports-section{
	margin-top: 0;
	margin-bottom: 20px;
}

.alert-item{
	float: left;
	width: 100%;
	margin-bottom: 80px;
}
.image-alert{
	margin-bottom: 10px;
}
.alert-item .alert-box:nth-child(4n+1){
	clear: left;
}
.alert-container{
	float: left;
	width: 100%;
}

/*login-register page css*/


button.btn.btn-default.brown-button.login-register {
    padding: 5px 60px 5px 60px;
}
/*common css*/
.form-control:focus{    
	border-color: #c54444;
	box-shadow: none;}

h2.login-maintitle {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
    margin-left: 15px;
    margin-top: 15px;
}
h4.login-subtitle {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin: 20px 0px 20px 0px;
}
input.form-control.login {
    border-radius: 1px;
    margin: 10px 0px 20px 0px;
    font-size: 13px;
    color: #adadad;
    font-family: Arial;
}
button.btn.btn-default.green-button{
	margin-bottom: 25px;
    color: #ffffff;
    background: #58a843;
    border-radius: 1px;
    padding: 5px 40px 5px 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Arial;
}
  button.btn.btn-default.green-button:hover,
   button.btn.btn-default.green-button:focus {
    background-color: #000;
} 


button.btn.btn-default.brown-button {
    margin-bottom: 25px;
    color: #ffffff;
    background: #8e7f27;
    border-radius: 1px;
    padding: 5px 23px 5px 23px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}
button.btn.btn-default.brown-button:hover,
button.btn.btn-default.brown-button:focus{
	    background-color: #000;
}
 p.forgot-text {
    color: #305891;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    margin-left: 5px;
} 
		/*summary section*/
 .summary-details-title {
    background: #e9e4c4;
    padding: 1px 50px;
    margin-bottom: 0px;
}
.summary-details-title h3{
	color: #333333;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 55px;
	margin-top: 10px;
}
p.summary-details-text {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #305891;
    text-transform: capitalize;
    padding: 15px 0px 0px 0px;
}
p.summary-remove-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    color: #696968;
}
.summary-blog {
    background: #f5f3e5;
    margin: 0px;
    border-bottom: 2px solid #ffffff;
}
p.summary-user {
    font-size: 13px;
    font-weight: normal;
    font-family: Arial;
    color: #333333;
}
p.summary-count {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    color: #333333;
    padding-top: 21px;
}
.summary-total {
    background: #e9e4c4;
    padding: 20px 30px;
    margin-bottom: 0px;
}
.summary-total p{
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
     margin: 0px 40px 0px 0px;
}
/*end common css*/

button.btn.btn-default:focus.login1-button{
	border-color: #8e7f27;
    box-shadow: none
}

/*adds section start here*/
.adds-section.left {
    bottom: 0px;
    display: block;
    position: absolute;
    top: 400px;
    padding-left: 0px;
    left: 0;
}
.adds-section.right {
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 400px;
}
.adds-img {
	margin: 40px 5px;
}
/*adds section end here*/


/*6_Your_Details css here*/

/*arrow navigation start*/

.breadcrumb-nav {
	/*centering*/
	display: inline-block;
	border-radius: 1px;
    counter-reset: flag;
    border: 1px solid #adadad;
        margin-top: 20px;
}

.breadcrumb-nav a {
	text-decoration: none;
	outline: none;
	display: block;
	text-transform: uppercase;
	float: left;
	font-size: 11px;
	line-height: 30px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 30px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb-nav a:first-child {
	padding-left: 46px;
	border-radius: 0px 0 0 0px; /*to match with the parent's radius*/
}
.breadcrumb-nav a:first-child:before {
	left: 35px;
}
.breadcrumb-nav a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb-nav a.active, .breadcrumb-nav a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb-nav a.active:after, .breadcrumb-nav a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb-nav a:after {
	content: '';
	position: absolute;
	top: 2px; 
	right: -15px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 30px; 
	height: 27px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	 background: #478836;
    background: linear-gradient(135deg, #80dc68, #428131);
	/*stylish arrow design using box shadow*/
   
    box-shadow: 2px -2px 0 2px rgb(129, 156, 98), 3px -4px 0 2px rgb(139, 187, 83);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
.breadcrumb-nav a.grey-arrow:after{
	box-shadow: 2px -2px 0 2px #9E9E9E, 3px -4px 0 2px rgb(221, 230, 210);
    border-radius: 0 5px 0 50px;
	}
/*we dont need an arrow after the last link*/
.breadcrumb-nav a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb-nav a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	line-height: 20px;
	margin: 5px 0;
	position: absolute;
	top: 0;
	left: 48px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: transparent;
	
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #e9e4c4;
	color: #70c45a;
}

/*arrow navigation end here*/


label.control-label.your-details {
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    text-align: left;
    color: #2f2f2f;
        padding: 10px 0px;
}
input.form-control.your-details {
    margin: 0px 0px 20px 0px;
    border-radius: 1px;
}


button.btn.btn-default.your-details {
    margin-right: 15px;
    color: #ffffff;
    background: #58a843;
    border-radius: 1px;
    padding: 8px 80px 8px 80px;
    font-size: 15px;
    text-transform: uppercase;
    float: right;
    margin-top: 20px;

}
button.btn.btn-default.your-details:hover, 
button.btn.btn-default.your-details:focus {
    background-color: #000;
}
p.mendatory-text {
    font-size: 13px;
    font-weight: normal;
    font-family: Arial;
    color: #333333;
    margin-right: 15px;
}
.cross-img img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cross-img {
    margin-top: 20px;
}


select.form-control {
    border-radius: 1px;
}

  p.credit-card-text {
    font-family: Arial;
    font-weight: normal;
    font-size: 9px;
    color: #5f5f5f;
    text-transform: uppercase
}
.secured-img img {
    max-width: 100%;
    height: auto;
    display: block;
}
ul.list-inline.login-navbar {
    margin: 15px 0px 20px 0px;
    background: #e9e4c4;
    border: 1px solid #adadad;
}
ul.list-inline.login-navbar li {
    padding: 0px 30px 0px 30px;
    color: #407e30;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

/*login2_newcustomer*/
h2.login2newcustomer-maintitle {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
    margin-left: 15px;
}
p.mendatory-text-login2 {
    font-size: 13px;
    font-weight: normal;
    font-family: Arial;
    color: #333333;
    margin-right: 15px;
}
label.control-label.login2-new {
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    color: #2f2f2f;
}
input.form-control.login2-new {
    margin: 0px 0px 20px 0px;
    border-radius: 1px;
}
button.btn.btn-default.login2-new {
    margin-right: 15px;
    color: #ffffff;
    background: #58a843;
    border-radius: 1px;
    padding: 5px 76px 5px 76px;
    font-size: 15px;
    text-transform: uppercase;
    float: right;
    margin-top: 20px;
}
button.btn.btn-default.login2-new:hover, 
button.btn.btn-default.login2-new:focus {
    background-color: #000;
}

/*Shopping cart page css*/
h2.shopping-cart-title {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}
.heading-section {
    background: #e9e4c4;
        margin: 0px;
}
h5.fianl-cost.pull-right.cart-page {
    margin-right: 10px;
}
/*product details section */
.product-details-section {
    background: #f5f3e5;
    border-bottom: 3px solid #fff;
        padding: 20px 0px 5px 0px;   
         margin: 0px;
}
.heading-section span.text-price {
    margin-right: 25px;
}
select.form-control.quantity {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 30px;
}
p.product-price {
    color: #000;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial;
 	float: right;
 	margin-right: 20px;
}
p.user-text {
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
}
span.text-price {
    margin-right: 25px;
}
p.product-detail{ color: #305891;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
    margin-right: 20px;}
tr.product-title {
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
    text-transform: uppercase;
	margin-right: 20px;
}
h5.fianl-cost.pull-right{color: #000000;
    font-weight: normal;
    font-size: 17px;
    font-family: Arial;
    margin-right: 25px;}
    /*end product details section*/
button.btn.btn-default.shopping-cart {
    margin-right: 15px;
    color: #ffffff;
    background:#8e7f27 ;
    border-radius: 1px;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    text-transform: uppercase;
    float: right;
    margin-top: 20px;
}
button.btn.btn-default.shopping-cart:hover, button.btn.btn-default.shopping-cart:focus {
    background-color: #000;
}
button.btn.btn-default.shopping-cart2 {
 color: #ffffff;
    background: #58a843;
    border-radius: 1px;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    text-transform: uppercase;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}
button.btn.btn-default.shopping-cart2:hover, button.btn.btn-default.shopping-cart2:focus {
    background-color: #000;
}
/*checkout page css*/
button.btn.btn-default.green-button.checkout 
{
    padding: 5px 25px 5px 25px;
}
button.btn.btn-default.green-button.checkout-register {
    padding: 5px 60px 5px 60px;
}

/*end checkout page */

/*order confirmation page start*/
h2.login-maintitle.confirmation {
    margin-left: 0px;
}
p.product-detail.confirmation-page {
    color: #333333;
}
p.thanks-text-confirmation {
    font-size: 19px;
    font-family: Arial;
    color: #333333;
    font-weight: bold;
}
p.black-text {
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    color: #333333;
}
span.bold-text {
    font-weight: bold;
    font-size: 15px;
}
span.blue-text {
    color: #305891;
}
p.black-text.billing-details {
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
}
span.details-text-left {
    margin-left: 50px;
}
.table.table.order-confirmation>tbody>tr>td, .table.table.order-confirmation>tbody>tr>th, 
.table.table.order-confirmation>tfoot>tr>td, .table.table.order-confirmation>tfoot>tr>th, 
.table.table.order-confirmation>thead>tr>td, .table.table.order-confirmation>thead>tr>th{    border: 0;padding: 2px;}
/*order confirmation page end*/

/*payment details page*/
.payment-details .summary-total p {
    margin-right: 10px;
}
textarea.form-control {
    height: auto;
    border-radius: 1px;
    margin: 10px 0px 20px 0px;
}
.drop-down-mark img {
    padding: 5px;
}
button.btn.btn-default.green-button.payment-details {
    margin: 15px 0px;
    padding: 5px 30px 5px 30px;
}
.payment-card-details {
    background: #f5f3e5;
    padding: 20px 20px 20px 10px;
    margin-left: 15px;
}
.summary-details-title.left {
    padding: 1px 15px;
}
.summary-details-title.left h3 {
    text-align: left;
     margin-left: 0px;
}
/*end payment details page*/

/*login-profile page */
h2.login-maintitle.tab-heading {
       margin-top: 0px;
    margin-bottom: 30px;
   left: 0px;
}
ul.nav.login-profile {
    border: 1px solid #e9e4c4;
    background: #e9e4c4;
        margin-bottom: 20px;
}
.tab-content.profile-page{
 margin: 0px 20px;
}

ul.nav.login-profile li {
    float: left;
    margin-bottom: -1px;
}
ul.nav.login-profile li{
   border-radius: 1px;
   padding: 5px 25px 5px 25px;
   border-right: 1px solid #fff;
   color: #305891;
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    text-align: center;
    min-width: 150px;
}
ul.nav.login-profile li a{ padding: 0px 0px 0px 0px;}

ul.nav.login-profile li.active a:after {
    content: " ";
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    left: 45%;
    top: 21px;
    background: #e9e4c4;
   }
ul.nav.login-profile li:last-child{color:#cc0000;}
ul.nav.login-profile li.active a:after {
    border-bottom: 5px solid #fff;
    transform: rotate(0deg);
    z-index: 1;
}
ul.nav.login-profile>li>a:focus, ul.nav.login-profile>li>a:hover, ul.nav.login-profile>li>a:visited, ul.nav.login-profile>li>a:active, ul.nav.login-profile .open>a, ul.nav.login-profile .open>a:focus, ul.nav.login-profile .open>a:hover, ul.nav.login-profile .open>a:visited{
	color: #305891;
	background-color:  #e9e4c4;
}

 ul.nav.login-profile>li.active>a, 
 ul.nav.login-profile>li.active>a:focus,
  ul.nav.login-profile>li.active>a:hover{
 	background-color: #e9e4c4;
    color: #333333;
} 
 


/*login-profile page*/
.table.table.login-profile>tbody>tr>td,
 .table.table.login-profile>tbody>tr>th, 
 .table.table.login-profile>tfoot>tr>td, 
 .table.table.login-profile>tfoot>tr>th, 
 .table.table.login-profile>thead>tr>td, 
 .table.table.login-profile>thead>tr>th {
    border: 0;
    padding: 5px;
}
/*login_change_password*/
.draggable-container {
  overflow: hidden;
  /* no selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draggable {
  width: 9999999px;
  white-space: nowrap; /* all on same line */
  font-size: 0; /* fix inline block spacing */
}
.draggable.nav > li > a  {
  font-size: 14px; /* give font size to links */
}





/*research report page*/
h4.categories-heading {
    border-bottom: 2px solid #a18b02;
    border-bottom-style: dashed;
    color: #305891;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
        width: 75%;
}
ul.list-inline.category-list li {
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
    margin-left: 5px;
    padding: 2px 0px;
    display: block;
}
.category-listing {
    margin: 10px 0px 30px 0px;
}
p.subscribe-title {
    font-size: 15px;
    font-family: Arial;
    text-transform: uppercase;
    color: #fff;
        margin-bottom: 0px;
}
p.subscribe-text {
    font-size: 15px;
    font-family: Arial;
    color: #fff;
}
.subscribe-section {
    background: #505050;
    padding: 20px 15px 10px 15px;
}
.adds-section.research-page.right {
    top: 220px;
}
.banner-img {
    background: url(../images/back-report.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   margin: 50px 15px 0px 15px;
}
.research-report-heading {
    position: absolute;
    left: 0;
    top: 170px;
}
h1.page-heading {
    font-size: 32px;
    font-family: Arial;
    font-weight: normal;
    color: #fff;
    padding-top: 15px;
    background: rgba(000, 000, 000, .4);
    padding: 15px 15px 10px 15px;
}

/*research page*/
.container.push-footer-search {
    min-height: calc(100vh - 500px);
}
.online-icon-section {
    margin: 20px 0px 0px 0px;
    margin-bottom: -51px !important;
    position: relative;
    top: 70px;}
h1.page-heading.search {
	margin-top: 10px;
    background: none;
    margin: 0;
}
p.research-text {
    color: #4d4d4f;
    font-size: 15px;
    font-weight: normal;
    margin: 10px 25px 35px 25px;
    font-family: Arial;
}
p.research-text.heading {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}
h4.panel-title.search {
    color: #305891;
    font-weight: normal;
    font-family: Arial;
    font-size: 15px;
}
#accordion .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    box-shadow: 1px 1px 2px #cdcdcd;
}
span.text-view-all {
    color: #231f20;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial;
}
span.text-view-product {
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}
.adds-section.search-page.right {
    top: 220px;
}
.online-icon-section.search-page {
    margin: 0px 0px 0px -15px;
    top: 5px;
}
section.footer-search-page {
    margin-top: 75px;
}
h4.blog-title-search {
    font-size: 15px;
    color: #97830c;
    font-family: Arial;
    font-weight: bold;
}
p.blog-text-search {
    color: #fff;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}
.blog-search {
    background: #262a39;
    padding: 5px 5px 5px 5px;
    margin: 60px 30px 10px 30px;
    min-height: 105px;
}


/*product page*/
select.form-control.user-product {
    width: 50%;
}
table.table.order-confirmation.product-page {
    font-family: Arial;
    font-size: 13px;
    color: #000;
    font-weight: normal;
    padding: 9px 0px;
}
.table.table.order-confirmation.product-page>tbody>tr>td, .table.table.order-confirmation.product-page>tbody>tr>th, .table.table.order-confirmation.product-page>tfoot>tr>td, .table.table.order-confirmation.product-page>tfoot>tr>th, .table.table.order-confirmation.product-page>thead>tr>td, .table.table.order-confirmation.product-page>thead>tr>th{
	padding: 5px 0px;
}
h3.product-name {
    font-family: Arial;
    font-size: 19px;
    color: #000;
    font-weight: normal;
}
ul.list-inline.product-page-list {
    margin-top: 20px;
}
ul.product-page-list li {
    display: block;
    background: #ffffff;
    color: #305891;
    font-weight: bold;
    font-family: Arial;
    text-decoration: underline;
    margin: 5px 0px 0px 0px;
        padding: 5px;
}
ul.product-page-list li a{padding: 5px;}
ul.list-inline.product-page-list li span {
    color: #a18b02;
}
button.btn.btn-default.brown-button.product-page {
    margin-bottom: 10px;
}
.product-details {
    background: #f5f3e5;
    margin: 10px 0px 30px 0px;
}
.nav-tabs.product-page>li.active>a, .nav-tabsproduct-page>li.active>a:focus, .nav-tabsproduct-page>li.active>a:hover {
   background-color: #305891;
    border: 1px solid #305891;
    border-bottom-color: #305891;
    color: #fff;
    cursor: default;
}
.nav-tabs.product-page {
    border-bottom: 2px solid #305891;
}
.nav-tabs.product-page>li a {
    background: #a3a3a3;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    text-transform: uppercase;
        border-radius: 1px;
}
p.black-text.product {
    margin: 15px 0px 15px 0px;
}
p.summary-details-text {
    margin-bottom: 0px;
    padding: 10px 5px 5px 5px;
}
.post-details-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #000;
}
.post-details-title h3{
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #000;
    background: #f5f3e5;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 0px 0px;
}
section.related-post p.summary-user {
    padding: 0px 5px;
}
section.related-post {
    border: 1px solid #b7b7b7;
    border-radius: 5px;}
.post-summary {
    padding: 5px 3px 5px 3px;
}
/*change-password*/
button.btn.btn-default.brown-button.change-password {
        float: left;
    padding: 5px 80px 5px 81px;
}
/*category page*/
h2.login-maintitle.category {
    margin: 0px;
    color: #fff;
    background: #60646b;
    padding: 5px;
}
p.product-content-heading.sub-heading {
    margin-left: 0px;
}
p.product-content-heading {
    color: #305891;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    margin-left: 18px;
 }
p.product-content-text {
    color: #333;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 0px 20px 0px 20px;
}
p.publishe-date {
    color: #000;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    text-transform: capitalize;
}
p.product-amount {
    color: #000;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
p.product-content-title {
    color: #000;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
        padding: 0px 20px 0px 20px;
}
p.product-published {
    color: #305891;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
p.product-price-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #305891;
}
tr.light-background {
    background: #f5f3e5;
}
tr.dark-background {
    background: #e9e4c4;
}
thead.product-heading-back {
    background: #eaeaec;
}


h3.filter-title {
    color: #000;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 8px 8px 10px;
    background: #f5f3e5;
    margin-top: 10px;
        margin-right: 10px;
}
h3.filter-title.main-heading {
    text-transform: uppercase;
    background: transparent;
    margin: 5px 0px 0px 0px;
}
ul.list-inline.filter li {
    display: block;
}
p.category-text {
    font-size: 17px;
    font-family: "Georgia";
    color: #000000;
    font-weight: normal;
    padding: 10px 10px 10px 10px;
    background: #d5d6da;
}
span.glyphicon.glyphicon-search.category-search {
    color: #ebc452;
    font-size: 17px;
}
ul.list-inline.filter.scroll {
    overflow: scroll;
}
section.compulsory-fields {
    background: #eaeaec;
    margin: 15px 0px;
    padding:5px 10px 5px 25px;
}

input.form-control.page-no {
       width: 30px;
    text-align: center;
    padding: 0px 5px;
    border-radius: 0px;
    height: 25px;
}
span.go-text {
    color: #fff;
    background: #9a8e41;
    padding: 5px 9px 3px 9px;
}
span.glyphicon.filter-arrow {
       background: #60646b;
    padding: 5px 5px;
    color: #fff;
}


section.filter-all {
    border: 1px solid #adadad;
    border-radius: 10px;
}
.adds-category .adds-cat {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
span.filter-title {
    color: #000;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    margin-left: 5px;
}
ul li {
    list-style-type: none;
}
ul.list-inline.filter li a ,ul.filter.scroll li a,
ul.list-inline.filter-price li label{
	font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    color: #333333;
     margin-left: 5px;
}
.checkbox label, .radio label{padding-left: 0px;}
ul.list-inline.filter-price {
    margin-left: 30px;
}
.radio {
    margin: 2px 0px;
}
ul.main-filter,ul.list-inline.filter {
    margin: 0px;
    padding-left: 15px;
}
ul.filter.scroll{
    margin: 0px;
    padding-left: 10px;
}
ul.main-filter span.pull-right ,ul.filter.scroll span.pull-right,ul.filter-price span.pull-right{
    margin-right: 10px;color: #333;
}
button.btn.btn-default.brown-button.category-search {
    margin-bottom: 0px;
        font-size: 13px;
    padding: 4px 23px 4px 23px;
}
span.glyphicon.glyphicon-minus {
    border: 1px solid #8e8f8f;
    color: #fff;
    background: #8e8f8f;
    margin: 0px;

}
input[type="checkbox"] {
    margin-right: 5px;
}

select.cat-date {
    height: 26px;
}