body {
	font-family: 'Helvetica';
	overflow-x: hidden;

	}
/* common helper class */

.img-center {
	display: block;
	margin: 0 auto;
	clear: both;
	}

.body-inverse {
	background-color: #333333;
	}

.black-patch {
	background-color: #131313;
	}

.gap1 {
	display: block;
	height: 1px;
	clear: both;
	}

.gap5 {
	display: block;
	height: 5px;
	clear: both;
	}

.gap10 {
	display: block;
	height: 10px;
	clear: both;
	}

.gap20 {
	display: block;
	height: 20px;
	clear: both;
	}

.gap50 {
	display: block;
	height: 50px;
	clear: both;
	}

.remove-padding {
	padding: 0!important;
	}
.remove-padding-left {
	padding-left: 0!important;
	}

.text-red {
	color: #c54444;
	}
.remove-margin-ltrt{
	margin-left: 0;
	margin-right: 0;
}

/* end common helper class */
/* header css */

.pre-header ul a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 11px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	}

.pre-header {
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	}

.pre-header ul {
	margin: 0;
	line-height: initial;
	}

.pre-header ul li {
	line-height: 22px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	}

.pre-header ul {
	margin-bottom: -2px;
	}
.left-nav-pre-header li:hover a{
	color: #cc0000;
}
.left-nav-pre-header li:before {
	content: "|";
	position: absolute;
	font-size: 12px;
	color: #fff;
	left: -4px;
	}

.left-nav-pre-header li:first-child:before {
	content: "";
	position: absolute;
	}

.left-nav-pre-header li:first-child {
	padding-left: 0;
	}

.right-nav-pre-header {
	position: relative;
	top: 1px;
	}

.pre-header .right-nav-pre-header li {
	padding-right: 0;
	padding-left:	5px;
	}

.logo-container {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	}

.logo {
	margin-top: 7.5%;
	}

.header-advertisement img {
	width: 100%;
	}
header {
	background-color: #333333;
	}
.special-section-container li a {
	color: #adadad;
	text-transform: uppercase;
	}
.special-section-container ul {
	font-size: 11px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 0;
	}
.special-section-container ul > .dropdown-submenu > ul {
	margin-top: 0px;
	}
.special-section-toggle>li .dropdown-menu {
    background-color: #525252;
	}
.special-section-toggle>li .dropdown-menu li a:hover {
    background-color: #7a2e2f;
    color: #fff;
	}
.special-section-toggle .dropdown-menu li .glyphicon {
    top: -5px;
	}
.special-section-toggle .dropdown-menu li:hover .glyphicon {
    top: -5px;
	}
.special-section-toggle .dropdown-menu li a {
    line-height: 5px;
    font-size: 11px;
	}

.search-box-header {
	margin-top: -5px;
	}
.search-box-header-mobile{
	display: none;
	margin-bottom: 8px;
	}
/*Placeholder css*/
input[type="text"].holder-color::-webkit-input-placeholder {
  color: #adadad;
}
input[type="text"].holder-color::-o-input-placeholder {
  color: #adadad;
}
input[type="text"].holder-color::-moz-placeholder { /* Firefox 18- */
    color: #515151;
   
}

/*Index page css start*/
/*marquee and breaking news css*/
.marquee {
    width: 85%;
    overflow: hidden;
	margin-top: 0;
}
.breaking-news span{
	color: #c54444;
	text-transform: uppercase;
}
.breaking-news span a{
	color: #c54444;
	text-decoration: none;
}
.breaking-news i{
	display: none;
	color: #333333;
}
.breaking-news h4 {
	font-size: 12px;
	font-family: "Helvetica";
	color: #767676;
	background-color: #f1f1f1;
    padding: 5px 10px;
	margin-top: 40px;
}
.breaking-news h4 a{
	color: #767676;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.breaking-news h4:hover a{
	color: #000;
}
.breaking-news h4 span a{
	font-weight: bold;
	text-decoration: none;
	color: #cc0000;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;

}
.breaking-news h4 img{
	float: right;
	padding-top: 1px;
	cursor: pointer;
}
.breaking-news h4 i{
	cursor: pointer;
}
/*Latest News css */
.latest-news-section{
	margin-bottom: 20px;
}
.latest-news-section .latest-new-list{
	margin: 0;
}
.latest-news-section img{
	margin-right: 14px;
}
.latest-news-section .row{
	margin-left: 0;
	margin-right: 0;
}
.latest-news h4{
	font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
}
.latest-news-section h3 a{
	text-decoration: none;
	color: #000;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.latest-news-section h3:hover a {
    color: rgb(35, 79, 136);
}
.latest-news-section h3{
	font-size: 18px;
	font-family: 'Georgia';
	line-height: 21.2px;
	position: relative;
	top: -3px;
	margin-top: 0;
	margin-bottom: 0;
}
.latest-news-section p {
	font-size: 13px;
	 font-family: 'Georgia';
	color: rgb(0, 0, 0);
	margin-bottom: 0px;
}
.latest-news-section .date{
	 font-size: 12px;
	 font-family: 'Georgia';
	color: #999999;
	margin-bottom: 5px;
}
/*Press Releases css*/
.press-releases h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 28px;
	margin-bottom: 0;
}
.press-releases ul li{
	 padding: 8px 0;
	 border-bottom: 1px solid #dadada;
}
.press-releases ul li a{
	 font-size: 13px;
	 font-family: "Georgia";
	 color: rgb(0, 0, 0);
	 line-height: 20px;
	 text-decoration: none;
	 -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.press-releases ul li:hover a{
	 color: #c54444;
}
.slim-scrollbar{
	margin-left: 0px;
	float: left;
	height: 865px;
	width: 100%;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow{
	min-height: 450px;
}
#press-releases-list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f2f2f2;
}
#press-releases-list::-webkit-scrollbar{
	width: 6px;
	background-color: #f2f2f2;
	height: 350px;
}
#press-releases-list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999999;
}

.red-button .btn{
	font-size: 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background-color: #c54444;
	border: 0;
	border-radius: 0;
	width: 100%;
	height: 25px;
	margin-top: -15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.red-button .btn:hover,
.red-button .btn:focus{
	background-color: #000;
}
.martp-27{
	margin-top: 27px;
}
/* Rhs section css Poll design and ifram css*/
.iframe-section1{
	margin-top: -40px;
}
.iframe-img-listing{
	margin-bottom: 35px;
}
.poll-design{
	border: 1px solid #dadada;
    padding: 7px 5px;
    border-radius: 10px;
}
.poll-design .form-group{
	padding-left: 5px;
}
.poll-design h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 0px;
	margin-bottom: 0;
}
.poll-design p{
	font-size: 13px;
	color: #7a7a7a;
	margin-top: 15px;
	margin-bottom: 0px;	
	padding-left: 5px;
}
.poll-design label{
	font-size: 13px;
	color: #7a7a7a;
}
.vote-button .btn{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #747474;
	display: block;
	width: 105px;
	height: 25px;
	padding: 4px 12px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.vote-button .btn:hover,
.vote-button .btn:focus{
	background: #c54444;
}
.vote-results p a{
	font-size: 13px;
	color: #234f88;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.vote-results p:hover a{
	color: #c54444;
}
.vote-results p{
	margin-bottom: 2px !important;
	margin-top: 0 !important;
}
/*News headlines css*/
.news-headlines h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 28px;
	margin-bottom: 3px;
}
/*News Carousel css*/
.news-headlines .carousel{
	border: 1px solid #dadada;
	padding-bottom: 50px;
}
.news-carousel h3{
	font-size: 14px;
    font-family: 'Georgia-Bold';
	color: rgb(0, 0, 0);
	line-height: 1.2;
	margin-top: 15px;
	margin-bottom: 5px;
}
.news-carousel h3 a{
	text-decoration: none;
	color: rgb(0,0,0);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.news-carousel h3:hover a{
	color: #c54444;
}
.news-carousel p{
	font-size: 13px;
    font-family: 'Georgia';
	color: rgb(0, 0, 0);
	line-height: 20px;
	margin-bottom: 3px;
}
.news-carousel .news-time{
	font-size: 12px;
    font-family: 'Georgia';
	color: #999999;
	margin-bottom: 5px;
}
.news-headlines .carousel-control.right {
	background-image: none;
}
.news-headlines .carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 7px 5px 0px;
    background-color: #c54444;
}
.news-headlines .carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 7px 5px 0px;
    border: 2px solid #c54444;
}
.news-headlines .carousel-indicators {
    bottom: -10px;
    left: 30%;
    width: 100%;
    background-color: #f1f1f1;
}
/*Featured Articles  section css*/
.featured-article-lhs h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	 text-transform: uppercase;
	 letter-spacing: 0.5px;
	 background-color: #131313;
     padding: 5px 10px 2px;
	 margin-top: 28px;
	 margin-bottom: 0;
}
.featured-article-lhs{
	padding-left: 0;
}
.article-group{
	margin: 0;
}
.featured-article-list .row{
	margin-left: 0;
	margin-right: 0;
}
.featured-article-lhs .featured-article-list h3{
	font-size: 18px;
	font-family: 'Georgia';
	color: rgb(35, 79, 136);
	margin-top: 0px;
}
.featured-article-lhs .featured-article-list h3 a{
	color: rgb(35, 79, 136);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.featured-article-lhs .featured-article-list h3:hover a{
	color: #c54444;
}
.featured-article-lhs .featured-article-list p{
	font-size: 13px;
	font-family: 'Georgia';
	color: rgb(0, 0, 0);
	line-height: 20px;
	position: relative;
    top: -5px;
	margin-bottom: 0;
}
.featured-article-lhs .featured-article-list  img{
	margin-right: 10px;
}
.featured-article-lhs .featured-article-list {
	background-color: #f1f1f1;
	padding: 7px 10px 10px;
	border-bottom: 2px solid #adadad;
	margin-bottom: 10px;
}
.featured-article-rhs{
	margin-top: 28px;
}
.featured-article-rhs .nav-pills>li.active>a, 
.featured-article-rhs .nav-pills>li.active>a:focus, 
.featured-article-rhs .nav-pills>li.active>a:hover {
	color: rgb(69, 69, 69);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
.featured-article-rhs .nav-pills>li.active:first-child>a, 
.featured-article-rhs .nav-pills>li.active:first-child>a:focus, 
.featured-article-rhs .nav-pills>li.active:first-child>a:hover {
	border-left: 0;
}
.featured-article-rhs .nav>li>a:focus, .featured-article-rhs .nav>li>a:hover, .featured-article-rhs .nav>li>a:visited,
.featured-article-rhs .nav>li>a:active, .featured-article-rhs .nav .open>a, 
.featured-article-rhs .nav .open>a:focus, .featured-article-rhs .nav .open>a:hover, .featured-article-rhs .nav .open>a:visited {
    background-color: transparent;
    color: rgb(69, 69, 69);
}
.featured-article-rhs .nav-pills>li.active {
	border-bottom: none;
	}
.featured-article-rhs .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 8px;
}
.featured-article-rhs .nav{
	border: 1px solid #dadada;
	background-color: #f1f1f1;
	border-bottom: none;
}
.featured-article-rhs .nav-pills>li+li {
    margin-left: 5px;
}
.featured-article-rhs ul li a{
	font-size: 13px;
	font-family: "Roboto-Bold";
	color: rgb(69, 69, 69);
}
.featured-article-rhs .tab-content ul li a{
	 font-size: 13px;
	 font-family: "Georgia";
	 color: rgb(35, 79, 136);
     text-decoration: none;
}
.featured-article-rhs .tab-content ul li {
	padding-bottom: 8px;
}
.featured-article-rhs .tab-content{
	border: 1px solid #dadada;
	padding: 15px 10px;
	border-top: none;
}
.featured-article-rhs .tab-content .more-button .btn{
	 font-size: 13px;
	 color: rgb(255, 255, 255);
	 text-transform: uppercase;
	 width: 151px;
	 height: 25px;
	 padding: 5px 12px;
	 margin-top: -6px;
	 background-color: #c54444;
	 border: 0;
	 border-radius: 0;
	 -webkit-transition: all 0.3s linear;
	 -moz-transition: all 0.3s linear;
	 -o-transition: all 0.3s linear;
	 transition: all 0.3s linear;
}
.featured-article-rhs .tab-content .more-button .btn:hover,
.featured-article-rhs .tab-content .more-button .btn:focus{
	 background-color: #000;
}
/*Reveiws css*/
.reviews h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	 text-transform: uppercase;
	 letter-spacing: 0.5px;
	 background-color: #131313;
     padding: 5px 10px 2px;
	 margin-top: 28px;
	 margin-bottom: 10px;
}
.reviews .reviews-img-listing{
	margin-bottom: 25px;
}
/*Market research report css*/
.market-research-report h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #131313;
    padding: 5px 10px 2px;
	margin-bottom: 0;
}
.market-research-report h2 a{
	text-decoration: none;
}
.market-research-report h2 .btn{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 4px 12px;
	height: 22px;
    margin-top: -6px;
	margin-right: -10px;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	background-color: #c54444;
}
.market-research-listing .item h3{
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(0, 0, 0);
	margin-top: 0;
	margin-bottom: 5px;
}
.market-research-listing .item h4{
	font-size: 13px;
	font-family: "Georgia";
	color: rgb(48, 88, 145);
	text-transform: uppercase;
	border-bottom: 1px dashed #a18b02;
	padding-bottom: 3px;
}
.market-research-listing .item ul li{
	font-size: 13px;
	font-family: "Georgia";
	color: #333333;
	line-height: 20px;
}
.market-research-listing .item ul li a{
	color: #333333;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.market-research-listing .item ul li:hover a{
	color: #c54444;
}
.market-research-report .carousel{
	background-color: #eef2f6;
	padding:12px 30px 0px;
	border-bottom: 2px solid #adadad;
}

.market-research-report .carousel-control.left {
    background-image: none;
    left: -68px;
}
.market-research-report .carousel-control.right {
    background-image: none;
    right: -50px;
}
/*Domain-b shopping*/
.domain-b-shopping-lhs{
	margin-top: 28px;
}
.domain-b-shopping-lhs h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background-color: #c54444;
    padding: 9px 15px 5px;
	margin-bottom: 0;
}
.domain-b-shopping-lhs .row{
	margin: 0;
}
.domain-b-shopping-lhs .case-studies h3 a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-lhs .case-studies h3:hover a{
	color: #c54444;
}
.domain-b-shopping-lhs .case-studies h3{
	font-size: 18px;
	font-family: "Georgia";
	color: rgb(255, 255, 255);
	margin-top: 0;
}
.domain-b-shopping-lhs .case-studies p{
	font-size: 12px;
	font-family: "Georgia";
	color: #adadad;
	margin-top: 5px;
	margin-bottom: 0;
}
.domain-b-shopping-lhs .case-studies{
	background-color: #131313;
	padding: 10px 15px;
	border-bottom: 1px dashed #a18b02;
}
.domain-b-shopping-lhs .case-studies .more-details a{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-lhs .case-studies .more-details:hover a{
	color: #c54444;
}
.domain-b-shopping-lhs .case-studies .more-details{
	margin-top: 15px;
}
.domain-b-shopping-lhs .case-studies .more-details img{
	margin-left: 3px;
}
.domain-b-shopping-lhs .border-bottom-none{
	border-bottom: none !important;
}
.domain-b-shopping-rhs{
	margin-top: 28px;
}
.domain-b-shopping-rhs .domain-b-shopping-header{
	background-color: #cbcbcb;
	height: 32px;
	margin-bottom: 30px;
}
.domain-b-shopping-header .domain-b-shopping-img{
	padding-left: 20px;
	position: relative;
    top: -6px;
}
.domain-b-shopping-rhs .explore-more a{
	font-size: 13px;
	color: rgb(35, 79, 136);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-rhs .explore-more:hover a{
	color: #c54444;	
}
.domain-b-shopping-rhs .explore-more{
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	padding-top: 6px;
    padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 25px;
}
.domain-b-shopping-rhs .explore-more img{
	position: relative;
    right: -10px;
    top: -1px;
}
/*footer css*/
footer .footer-menu ul li a{
	font-size: 13px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
footer .footer-menu ul li:hover a{
	color: #c54444;
}
footer .footer-menu ul li{
	display: inline-block;
	padding-left: 5px;
}
footer .footer-menu ul li strong{
	margin-left:8px;
}
footer .footer-menu{
	margin-top: 65px;
}
footer .footer-black-patch p{
	font-size: 13px;
	color: rgb(255, 255, 255);
	margin-bottom: 0;
    padding: 8px;
}
footer .footer-black-patch p a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
footer .footer-black-patch p a:hover{
	color: #c54444;
}
footer .footer-black-patch{
	background-color: #333333;
	border-bottom: 2px solid #fff;
}
/*--------------Insidepage_2 css start -------------------*/
.insidepage-container .insidepage-lhs article{
	width: 450px;
}
.insidepage-container .insidepage-lhs article h2{
	font-size: 30px;
	font-family: "GothamBlack";
	color: rgb(0, 0, 0);
	margin-top: 0px;
	margin-bottom: 25px;
}
.insidepage-container .insidepage-lhs article .article-date{
	font-size: 16px;
	font-family: 'Georgia';
	color: #767676;
	margin-bottom: 20px;
}
.insidepage-container .insidepage-lhs article p{
	font-size: 16px;
	font-family: 'Georgia';
	color: rgb(0, 0, 0);
	line-height: 1.625;
	margin-top: 15px;
	margin-bottom: 0;
}
.insidepage-container .insidepage-lhs article p img{
	margin-top: 8px;
}
.insidepage-lhs .latest-domain-b-report{
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 25px;
}
.insidepage-lhs .latest-domain-b-report h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.insidepage-lhs .latest-domain-b-report ul li a{
	font-size: 14px;
	font-family: "Georgia";
	color: rgb(81, 81, 81);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.insidepage-lhs .latest-domain-b-report ul li:hover a{
	color: #c54444;
}
.insidepage-lhs .latest-domain-b-report ul li{
	padding: 7px 0px;
    border-bottom: 1px solid #dadada;
    margin: 0px 10px;
}
.insidepage-lhs .latest-domain-b-report ul li:last-child{
    border-bottom: 0;
}
.insidepage-lhs .latest-domain-b-report .red-button .btn{
	 width: 222px;
	 padding: 5px 12px;
	 margin: -7px 10px 13px;
}
.resereach-reports-section{
	border: 1px solid #dadada;
	margin-top: 25px;
}
.resereach-reports-section h2{
	font-size: 13px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    background-color: #131313;
    padding: 5px 10px 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.resereach-reports-section .resereach-reports-listing{
	background-color: #3975ba;
	padding: 10px;
}
.resereach-reports-section .resereach-reports-listing select{
	width: 100%;
    height: 30px;
	margin-bottom: 10px;
	color: #bcbcbc;
}
.resereach-reports-section .resereach-reports-listing select option{
	font-size: 13px;
	font-family: "Georgia";
	color: #bcbcbc;
}
.resereach-reports-section .resereach-reports-listing h3{
	font-size: 17px;
	font-family: "Georgia";
	color: rgb(255, 220, 0);
	text-transform: uppercase;
	margin-top: 0;
	border-top: 1px dashed;
    padding-top: 7px;
}
.resereach-reports-listing h3:first-child{
	border: 0;
	padding-top: 0;
}
.resereach-reports-listing ul .browse-all-reports a{
	color: rgb(255, 220, 0) !important;
}
.resereach-reports-listing ul .browse-all-reports:hover a{
	color: #fff !important;
}
.resereach-reports-listing ul .browse-all-reports a i{
	position: relative;
	top: 2px;
}
.resereach-reports-section .resereach-reports-listing ul li a{
	font-size: 15px;
	font-family: "Georgia";
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.resereach-reports-section .resereach-reports-listing ul li:hover a{
	color: rgb(255, 220, 0)
}
.resereach-reports-section .resereach-reports-bottom-section{
	padding: 5px 8px;
	border-bottom: 1px solid #dadada;
}
.domain-b-shopping-rhs .explore-more-products a{
	font-size: 13px;
	font-family: 'Georgia-Bold';
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-right: 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.domain-b-shopping-rhs .domain-b-shopping-header-gap{
	margin-bottom: 12px;
}
.domain-b-shopping-rhs .explore-more-products:hover a{
	color: #c54444;	
}
.domain-b-shopping-rhs .explore-more-products{
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	background-color: #939192;
	padding-top: 4px;
    padding-bottom: 23px;
	margin-top: 0;
    margin-bottom: 12px;
}
.domain-b-shopping-rhs .explore-more-products i{
	position: relative;
    top: 2px;
    left: 5px;
}
.domain-b-shopping-border{
	border: 1px solid #dadada;
	border-bottom: 0;
}
/*--------------Insidepage_2 css start -------------------*/

/*Sticky social icons*/
.sticky-container{
	padding: 0px;
    margin: 0px;
    position: fixed;
	right: 0px;
    top: 285px;
    width: 43px;
    z-index: 1;
}
.sticky li i{
	float: left;
    margin: 12px 15px;
    margin-right: 38px;
    font-size: 23px;
	color: #fff;
}
.sticky-container .sticky li{
	list-style-type: none;
	color: #fff;
	height: 48px;
	padding: 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor: pointer;
}
.sticky .facebook{
	background-color: #305891;
}
.sticky .facebook:hover{
	margin-left: -20px;	
}
.sticky .linkdin{
	background-color: #4498c8;
}
.sticky .linkdin:hover{
	margin-left: -20px;	
}
.sticky .twitter{
	background-color: #2ca8d2;
}
.sticky .twitter:hover{
	margin-left: -20px;	
}
.sticky .print{
	background-color: #738a8d;
}
.sticky .print:hover{
	margin-left: -20px;	
}
.sticky .plus{
	background-color: #f8694d;
}
.sticky .plus:hover{
	margin-left: -20px;	
}
/* sticky social icons*/





