@media (min-width: 1920px) {

	
}


@media screen and (min-width: 1500px) {

.container.push-footer {
    min-height: calc(100vh - 560px);
		}
	.container.push-footer .online-icon-section {
		    margin: 150px 0px 0px 0px;
		    margin-bottom: -51px !important;
		    position: relative;
		    top: 85px;
		}	
}
/*for laptop*/
@media (min-width: 1030px) and (max-width: 1366px){
body .ads-container.container {
    width: 1010px ;
}
.adds-section.left{
	left: 0px;
}
.adds-img {
	margin: 40px 5px;
}
.summary-details-title h3{
	margin-left: 45px;
}
.summary-total p{
	margin: 0px 30px 0px 0px;
}
.container.push-footer .online-icon-section {
	    margin: 10px 0px 0px 0px;
	    margin-bottom: -51px !important;
	    position: relative;
	    top: 85px;
	}
}
/* end here*/
@media  screen and (max-width:1280px)  {
	
	.container.push-footer {
    min-height: calc(100vh - 560px);
		}
	.container.push-footer .online-icon-section {
		    margin: 150px 0px 0px 0px;
		    margin-bottom: -51px !important;
		    position: relative;
		    top: 85px;
		}
}


@media (min-width: 1024px) {}

@media (min-width: 1200px) {



}
/*ipad landscape*/
@media (max-width: 1024px) {
	.pre-header > .col-md-9 {
		padding-right: 0;
	}
	.pre-header ul a {
		font-size: 10.5px;
	}
	.pre-header ul li {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	.latest-news-section img {
		margin-right: 8px;
	}
	.carousel-first .carousel-control.left {
		left: -25px;
	}
	.carousel-first .carousel-control.right {
		right: -8px;
	}
	.carousel-first .carousel-caption {
		height: 267px;
	}
	.latest-news-section h3 {
		font-size: 16px;
	}
	.featured-article-rhs .nav-pills>li+li {
		margin-left: 0px;
	}
	.featured-article-rhs .nav>li>a {
		padding: 5px 5px;
	}
	.featured-article-lhs .featured-article-list h3 {
		font-size: 15px;
	}
	.featured-article-lhs .featured-article-list {
		padding: 7px 10px 5px;
	}
	.market-research-report .carousel-control.left {
		left: -56px;
	}
	.market-research-report .carousel-control.right {
		background-image: none;
		right: -36px;
	}
	.marquee {
		width: 83%;
	}
	.vote-button .btn {
		margin-left: 0;
	}
	.insidepage-lhs .latest-domain-b-report .red-button .btn {
		width: 215px;
	}
	section.footer-search-page {
    margin-top: 30px;
	}
	.summary-details-title h3{
		margin-left: 40px;
	}
	.summary-total p{
		margin: 0px 5px 0px 0px;
	}
	.product-page-adds img{
		display: none;
	}
	/*research page*/
	h4.categories-heading{
	width: 100%;
	}
	/*product page*/
	.product-adds img {
    display: none;
	}
	
}



@media (min-width: 768px) and (max-width: 1023px){
.adds-section.right.hidden-laptop.hidden-md.hidden-xs {
    display: none;
	}
	.adds-section.left.hidden-laptop.hidden-md.hidden-xs {
	    display: none;
	}
	.product-page-adds img{display: none;}
}


/*ipad view portrait*/
@media (min-width: 768px) and (max-width: 1023px) {
	.nav>li>a {
		padding: 7px 7px;
		font-size: 9px!important;
	}
	.pre-header ul li {
		padding-left: 7px;
		padding-right: 7px;
		}
	.pre-header ul li a {
		font-size: 9px;
		}
	.pre-header > .col-sm-9 {
		padding-right: 0;
		}
	.right-nav-pre-header img {
		height: 17px;
		}
	.right-nav-pre-header {
		position: relative;
		top: 2px;
		}
	.pre-header ul {
		margin-top: 0;
		}
	.pre-header .right-nav-pre-header li {
		padding-right: 0;
		padding-left: 4px;
		}
	.special-section-container li {
			font-size: 8.0px;
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 10px;
		}
		.special-section-container {
			padding-bottom: 3px;
			background: #ecf1f4;
		}

	.special-section-container .text-red {
		font-size: 9px;
		}
	.special-section-container ul {
		margin-left: 10px;
		margin-top: 0;
		}
	.stylish-input-group .form-control {
		font-size: 10px;
		float: right;
		width: 90%;
		}
	.stylish-input-group .input-group-addon {
		font-size: 11px;
		}
	.carousel-first .carousel-control.left {
		left: -40px;
		}
	.carousel-first .carousel-control.right {
		right: -20px;
		}
	.carousel-first .carousel-caption p {
		font-size: 14px;
	 }
	 .carousel-first .carousel-caption {
		left: 0;
		top: 167px;
		height: 25%;
	}
	.carousel-first .carousel-control {
		width: 15%;
	}
	.news-headlines h2 {
		margin-top: -20px;
	}
	.market-research-report .carousel-control.left {
		left: -44px;
	}
	.market-research-report .carousel-control.right {
		right: -22px;
	}
	.featured-article-rhs .nav>li>a {
		padding: 5px 8px;
	}
	.featured-article-lhs .featured-article-list p {
		top: 0px;
		margin-bottom: 12px;
	}
	.latest-news-section img {
		margin-bottom: 10px;
	}
	.marquee {
		width: 78%;
	}
	.poll-design p {
		font-size: 12px;
	}
	.vote-button .btn{
		width: 100%;
	}
	.vote-results p a {
		font-size: 12px;
	}
	.insidepage-container .insidepage-lhs article h2 {
		font-size: 20px;
	}
	.insidepage-container .insidepage-lhs article {
		width: 100%;
	}
	.insidepage-container .insidepage-lhs article p {
		margin-top: 15px;
	}
	.insidepage-container .insidepage-lhs article p img {
		float: none !important;
	    margin-bottom: 10px;
	}
	.sticky-container .sticky li {
		height: 42px;
	}
	.sticky-container {
		top: 260px;
		width: 30px;
	}
	.sticky li i {
		margin: 12px 10px;
		font-size: 18px;
	}
    .width-sm-124 {
	 width: 124%;
	 }

	 
.sec-last-drop-sm .dropdown-submenu .dropdown-menu, .third-last-drop-sm .dropdown-submenu .dropdown-menu, 
.fourth-last-drop-sm .dropdown-submenu .dropdown-menu  {
	right: 99%;
    left: inherit!important;
	}


	 .last-drop .dropdown-menu, .sec-last-drop-sm .dropdown-menu, 
	 .third-last-drop-sm .dropdown-menu, .fourth-last-drop-sm .dropdown-menu { 
	 right: 0;
    left: inherit!important;
	}
	.alert-item {
		margin-bottom: 30px;
	}
	.alert-item .alert-box:nth-child(3n+1){
		clear: left;
	}
	/*your details page*/
	
	button.btn.btn-default.your-details{
		padding: 5px 50px 5px 50px;
    font-size: 14px;}
	

	/*4_shopping_cart*/
	   button.btn.btn-default.shopping-cart {
	    margin-right: 15px;
	    color: #ffffff;
	    background: #8e7f27;
	    border-radius: 1px;
	    padding: 8px 15px 8px 15px;
	    font-size: 10px;
	    text-transform: uppercase;
	    margin-top: 20px;
	}
	button.btn.btn-default.shopping-cart2 {
	    color: #ffffff;
	    background: #58a843;
	    border-radius: 1px;
	    padding: 8px 15px 8px 15px;
	    font-size: 10px;
	    text-transform: uppercase;
	    margin-top: 20px;
	    margin-right: 0px;
	}


	/*login-newcustomer page*/
	button.btn.btn-default.login2-new{
		padding: 5px 50px 5px 50px;
	    font-size: 14px;}


	/*checkout */
	.summary-details-title h3{margin-left: 20px;}

	/*payment details page*/
	button.btn.btn-default.green-button.payment-details {
    margin: 15px 0px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
	}
	/*search page*/
	.blog-search {
    background: #262a39;
    padding: 5px 5px 5px 5px;
    margin: 60px 20px 10px 20px;
    min-height: 150px;
	}
	section.footer-search-page {
    margin-top: 10px;
	}
	
	/*research page*/
	h4.categories-heading{
	width: 100%;
	 font-size: 12px;
	}
	/*login change password */
	ul.nav.login-profile li{    
		min-width: 100px;
	}
	ul.nav.login-profile li.active a:after{
		top: 13px;
	}
	
}

/*mobile view*/
@media (min-width: 768px) {
	.navbar li a {
		color: #454545;
		font-size: 11px;
	}
	.navbar-collapse {
		padding: 0;
	}
	.navbar-nav>li a {
		padding-top: 10px;
		padding-bottom: 8px;
		line-height: 0px;
	}
	.navbar-nav>li:first-child:before {
		content: "";
		position: absolute;
	}

	.navbar-nav .open .dropdown-menu a {
		color: #fff;	
	}
	.navbar-nav > li:hover > .dropdown-menu{
		display: block;
	}
	.dropdown-submenu:hover .dropdown-menu{
		display: block;
	}
	.navbar-container {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.dropdown-menu {
		left: 0px;
		border-radius: 0;
		}
	.dropdown-menu .open .dropdown-menu {
		
		}
	.navbar {
		min-height: inherit;
		margin: 0;
		}
	.special-section-container {
		padding-bottom: 7px;
		background: #ecf1f4;
		}
	.special-section-toggle>li a {
		padding-top: 10px;
		padding-bottom: 8px;
		line-height: 0px;
		padding-right: 5px;
		padding-left: 5px;
	}
	.special-section-toggle .dropdown-menu{
		margin-left: 0;
	}
	.dropdown-menu li a{
		line-height: 5px;
		font-size: 12px;
	}
	.market-research-report .carousel-indicators{
		display: none;
	}
	/* Dropdown animation */
   .open > .dropdown-menu {
        -webkit-transform: scale(1,
        1);
        transform: scale(1,
        1);
        opacity:1;
    }
    .dropdown-menu {
        opacity: .3;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -o-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        display: block;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
    }


    .show-on-hover:hover > ul.dropdown-menu {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
	.last-drop .dropdown-submenu .dropdown-menu {
	right: 99%;
    left: inherit!important;
	}
}

@media (max-width: 767px) {
	 .navbar-nav .dropdown-menu .caret {
		transform: rotate(-90deg);
	  }
	  .nav>li>a:focus, .nav>li>a:hover, .nav>li>a:visited, .nav>li>a:active, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav .open>a:visited {
    background-color: #a33f3f;
    color: #fff;
}
	  .navbar-nav > li > a {
		line-height: 15px;
		color: #fff;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		background: #a33f3f;
	  }
	  .navbar-collapse {
		box-shadow: none;
	  }
	  .navbar-toggle .icon-bar {
		background-color: #000;
	  }
	  .navbar-nav .open .dropdown-menu>li>a {
		line-height: 12px;
	}
	  .dropdown-menu>li>a {
		color: #adadad;
		}
		.navbar-nav .dropdown-menu .glyphicon {
			top: 1px;
		}
	.navbar-nav .open .dropdown-menu>li>a:focus,
	.navbar-nav .open .dropdown-menu>li>a:hover {
		 background: #fff;
    	color: #c72525;
		}
	.navbar-nav > li:nth-of-type(1) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(2) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(3) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(4) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(5) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(6) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(7) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(8) {
		border-right: 0 !important;
		}
	.navbar-nav > li:nth-of-type(9) {
		border-right: 0 !important;
		}
	.left-nav-pre-header li:nth-of-type(4):before {
		content: "";
		}
		.navbar-nav .dropdown-menu li:hover .glyphicon{
		top: -1px;
		}
	.caret.visible-xs {
		display: inline-block!important;
		}
	.special-section-toggle .open .dropdown-menu>li>a {
		line-height: 12px;
		}
	.dropdown-toggle:after {
		position: absolute;
		right: 30px;
		top: 12px;
		content: "\e258";
		font-family: 'Glyphicons Halflings';
		width: 0px;
		height: 0px;
		transition:all 0.5s linear;
		}
	.special-section-toggle .dropdown-menu li a {
		line-height: 12px;
		}
		.special-section-container .dropdown-toggle:after {
		position: absolute;
		right: 30px;
		top: 5px;
		content: "\e258";
		font-family: 'Glyphicons Halflings';
		width: 0px;
		height: 0px;
		transition:all 0.5s linear;
		}
	.toggle-search-box i{
		display: none;
		font-size: 16px;
		font-weight: normal;
		}
	.carousel-first .carousel-control {
		width: 15%;
		}
	
	.open .dropdown-toggle:after {
		position: absolute;
		right: 30px;
		top: 12px;
		content: "\e259";
		font-family: 'Glyphicons Halflings';
		width: 0px;
		height: 0px;		
		}
	.special-section-container .open .dropdown-toggle:after {
		position: absolute;
		right: 30px;
		top: 5px;
		content: "\e259";
		font-family: 'Glyphicons Halflings';
		width: 0px;
		height: 0px;		
		}
	.open .dropdown-submenu .dropdown-toggle:after {
		position: absolute;
		right: 30px;
		top: 6px;
		content: "\e258";
		font-family: 'Glyphicons Halflings';
		width: 0px;
		height: 0px;		
		}
	.dropdown-submenu.open .dropdown-toggle:after {
		position: absolute;
		right: 30px;
		top: 6px;
		content: "\e259";
		font-family: 'Glyphicons Halflings';
		width: 0px;
		height: 0px;		
		}
	.navbar-nav>li .dropdown-menu {
		background-color: transparent;
		width: 100%;
		overflow: hidden;
		position: relative;
		}
	.special-section-container ul li ul {
		margin-top: 0px;
		margin-bottom: 0px;
		}
	.dropdown-submenu .open .dropdown-menu {
		position: static !important;
		}
	.special-section-container ul {
		margin-left: 0px;
		}
	.special-section-container .dropdown-menu>li>a {
		 padding: 3px 5px;
		}
	.special-section-container .dropdown-menu>li>a {
		 padding: 3px 5px;
		}
	.special-section-container ul li{
		padding: 2px 25px;
	}
	.special-section-container ul > .open > ul > li {
		padding: 3px 5px;
	}
	.special-section-container ul > li > ul > li {
		padding: 3px 5px;
	}
	.special-section-container .dropdown-menu{
		float: none !important;
	}
	.special-section-container .dropdown.open > .dropdown-menu {
		max-height: 300px;
		opacity: 1;
		position: relative;
		background: transparent;
		border: 0;
		box-shadow: none;
		}
	.special-section-container .dropdown > .dropdown-menu {
		position: relative;
		background: transparent;
		border: 0;
		box-shadow: none;
		}
	.logo {
		margin-top: 2%;
		margin-bottom: 5%;
		text-align: center;
		}
	.logo img {
		margin: 0 auto;
		width: 160px;
		}
	.carousel-first .carousel-control .carousel-red-arrow {
		 top: 22%;
		}
	.carousel-first .carousel-control.right {
		 right: -5px;
		}
	.carousel-first .carousel-control.left {
		 left: -25px;
		}
	.carousel-first .carousel-caption p {
		font-size: 12px;
		}
	.carousel-first .carousel-caption {
		left: 0;
		top: 145px;
		height: 30%;
		}
	.carousel-first .item img{
		width: 100%;
		}
	.iframe-section1 {
		 margin-top: 10px;
	}
	.latest-news-section h3 {
		font-size: 15px;
	}
	.news-headlines h2 {
		margin-top: 0;
	}
	.featured-article-lhs {
		padding-left: 0px;
		padding-right: 0;
	}
	.featured-article-rhs .nav>li>a {
		padding: 2px 4px;
	}
	.featured-article-rhs .nav-pills>li+li {
		margin-left: 0;
	}
	.featured-article-rhs ul li a {
		font-size: 12px;
	}
	.remove-padding-left {
		padding-left: 15px!important;
	}
	.latest-news-section p {
		font-size: 12px;
	}
	.slim-scrollbar{
		height: 224px;
	}
	.breaking-news h4 {
		margin-top: 15px;
	}
	.carousel-first {
		margin-top: 0;
	}
	.news-headlines{
		margin-top: -15px;
	}
	.news-carousel h3 {
		margin-top: 8px;
	}
	.news-carousel p {
		font-size: 12px;
		line-height: 19px;
		margin-bottom: 3px;
	}
	.news-headlines .carousel {
		padding-bottom: 35px;
	}
	.featured-article-lhs h2 {
		margin-top: 15px;
	}
	.featured-article-lhs .featured-article-list p {
		font-size: 12px;
	}
	.featured-article-rhs {
		margin-top: 10px;
		padding-left: 0;
		padding-right: 0;
	}
	.explore-display-mobile{
		background-color: #fff !important;
	}
	.market-research-carousel-icon{
		position: absolute;
		top: 50%;
		left: 0;
		right: auto;
		width: 100%;
	}
	.market-research-carousel-icon .carousel-red-arrow {
		position: relative;
		padding: 10px 4px;
	}
	.market-research-carousel-icon .carousel-red-arrow img {
		width: 6px;
	}
	.market-research-report .carousel-control.right {
		right: -12px;
	}
	.market-research-report .carousel-control.left {
		left: -12px;
	}
	.market-research-report .carousel-indicators{
		position: absolute;
		bottom: -35px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
	}
	.market-research-report .carousel-indicators .active {
		background-color: #c54444;
	}
	.market-research-report .carousel-indicators li {
		border: 1px solid #c54444;
	}
	.domain-b-shopping-rhs .domain-b-shopping-header {
		margin-bottom: 15px;
	}
	.domain-b-shopping-rhs .explore-more {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.domain-b-shopping-rhs .explore-more a {
		font-size: 11px;
	}
	.domain-b-shopping-lhs {
		margin-top: 0;
	}
	footer .footer-menu {
		margin-top: 0;
	}
	footer .footer-menu ul li a {
		font-size: 12px;
	}
	.iframe-img-listing {
		margin-bottom: 10px;
	}
	footer .footer-black-patch p {
		font-size: 11px;
	}
	.mobile-list-inline>li {
		display: block;
		line-height: 16px;
	}
	.special-section-toggle{
		display: none;
	}
	.special-section-btn{
		position: absolute;
		top: 5px;
		left: 15px;
	}
	.special-section-container ul {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.navbar {
		margin-bottom: 0;
		min-height: 0;
	}
	.search-box-header {
		margin-top: 0;
	}

	.special-section-container {
		position: relative;
		}
	.toggle-search-box {
	    color: #000;
		position: absolute;
		top: 10px;
		left: 50%;
		}
	.marquee {
		width: 93%;
		}
	.domain-b-shopping-lhs .case-studies .img-left-mobile{
		float: left;
		margin-right: 15px;
	}
	.domain-b-shopping-lhs .case-studies .more-details{
		text-align: center;
	}
	.domain-b-shopping-lhs .case-studies h3 {
		font-size: 16px;
	}
	.market-research-report .carousel-inner {
		height: 280px;
		overflow-y: scroll;
	}
	.dropdown.open > .dropdown-menu {
		max-height: 300px;
		opacity: 1;
		background: #a33f3f;
	}

	.dropdown-submenu.open > .dropdown-menu {
		 opacity: 1;
		 max-height: 300px;
	 }
	.insidepage-container .insidepage-lhs article {
		width: 100%;
	}
	.insidepage-container .insidepage-lhs article img{
		float: none !important;
		margin-bottom: 10px;
	}
	.insidepage-container .insidepage-lhs article h2 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.remove-padding-xs {
		padding: 0!important;
		}

	.market-research-report h2 {
		padding: 5px 0;
		}

	.market-research-report h2 .btn {
		margin-right: 0;
		padding: 5px 0;
		height: 26px;
		margin-top: 25px;
		}

	.red-button .btn {
		line-height: 12px;
	}
	.select-link-section {
		margin-top: 130px;
		padding: 15px 10px;
	}
	.select-link-section .load-more {
		margin-top: -23px;
		top: 30px;
	}
	.alert-item {
		margin-bottom: 20px;
	}
	/*common css*/
	.login-maintitle {
    font-size: 25px;
    text-align: center;
    margin: 5px;
	}
	

	button.btn.btn-default.green-button{    
	padding: 5px 40px 5px 40px;
    font-size: 13px;
	}
	.table-responsive{border: 0;}
	/*6_your_details page*/

	.online-icon-section{ position: initial;}
	select.form-control{ margin: 5px 0px 5px 0px;}
	button.btn.btn-default.your-details{   
	 margin-bottom: 20px;
	 display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
	h2.login-maintitle
	{
		font-size: 25px;    
		text-align: center;    
		margin: 5px;
		overflow: hidden;
	}
	label.control-label.your-details{padding: 10px 15px;}
	
	

	/*login-newcustomer*/
	h2.login2newcustomer-maintitle{
	font-size: 25px;
    text-align: center;
	}

	button.btn.btn-default.login2-new{
	padding: 3px 40px 3px 40px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    float: none;}

	

	/*4_shopping_cart*/
	h2.shopping-cart-title{
		font-size: 25px;text-align: center;}
	h5.fianl-cost.pull-right {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
  	}
	button.btn.btn-default.shopping-cart {
        margin-right: 0px;
    color: #ffffff;
    background: #8e7f27;
    border-radius: 1px;
    padding: 8px 5px 8px 5px;
    font-size: 10px;
    text-transform: uppercase;
	}
	button.btn.btn-default.shopping-cart2 {
    color: #ffffff;
    background: #58a843;
    border-radius: 1px;
    padding: 8px 5px 8px 5px;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 0px;
	}
	/*checkout page*/
	button.btn.btn-default.green-button.checkout{
    padding: 5px 25px 5px 25px;
    font-size: 13px;
	}
	button.btn.btn-default.green-button.checkout-register {
    padding: 5px 25px 5px 25px;
    font-size: 13px;}

    /*payment details page*/
    .payment-card-details{margin-bottom: 20px;}

    /*research-report page*/
    .research-report-heading {
    top: 180px;
	}
	.subscribe-section{
		margin-bottom: 15px;
	}
    h1.page-heading{
    	font-size: 25px;
        padding: 14px 5px 10px 5px;
    }
    h4.categories-heading{
   	    width: 100%;
   }

    .blog-search{
	padding: 5px 5px 5px 5px;
    margin: 10px 20px 10px 20px;
	}
	#search_container
	{    
		width: 80%;
    margin-left: auto;
    margin-right: auto;
	}
	/*search page */
	span.text-view-product{
	display: none;
	}
	h4.panel-title.search{
	font-size: 13px;
	}
	/*product page*/
	.nav-tabs.product-page>li a{
		font-size: 13px;
	}
	.nav.nav-tabs.product-page>li>a{ 
	   padding: 10px 8px;
	}
	select.form-control.user-product {
		width: 80%;
	}
	/*category page*/
	p.publishe-date{
		display: inline-block;
	}
	p.product-amount{
	display: inline-block;	
	}
	p.product-content-text{
		padding: 0px 5px 0px 5px;
	}
	.container.push-footer .online-icon-section{    
	margin: 20px 0px 0px 0px;
    margin-bottom: -51px !important;
    position:initial;
    top: 70px;
	}
	section.filter-all{
		margin-bottom: 20px;
	}
	.visible-xs.category-content label{
		padding: 0px 5px 0px 5px;
	}
	p.product-content-heading{
		padding: 5px;
		margin-left: 5px;
	}
	table#category-table>tbody>tr>td{
		display: none;
	}
	table#category-table>tbody>tr>td:first-child
	{
    display:block;
	}

	/*login_profile drop-down*/
	ul.nav.login-profile {
    border: 0;
    background: #e9e4c4;
    margin-bottom: 20px;
	}
	ul.nav.login-profile li{
		    padding: 5px 5px 5px 5px;
	}
	h2.login-maintitle.tab-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
        overflow: visible;
	}
	
	
}
/*mobile landscape*/

@media only screen and (min-width: 480px) and (max-width: 736px) {
		.carousel-first .carousel-caption {
		left: 0;
		top: 200px;
		height: 26%;
	}
		.carousel-first .carousel-control .carousel-red-arrow {
		top: 32%;
	}
	.carousel-first .carousel-control.left {
		left: -45px;
	}
	.carousel-first .carousel-control.right {
		right: -25px;
	}
	.featured-article-rhs .nav>li>a {
		padding: 2px 20px;
	}
	.news-headlines {
		margin-top: 10px;
	}
	.market-research-report .carousel-control.left {
		left: -30px;
	}
	.market-research-report .carousel-control.right {
		right: -30px;
	}
	/*your_details page */
	.breadcrumb-nav{
		margin-left: 80px;
	}
	/*shopping cart page*/
	button.btn.btn-default.shopping-cart2{
		float: left;
	}
	/*research report*/
	h1.page-heading {
    font-size: 25px;
    padding: 12px 5px 11px 5px;
   }
   h4.categories-heading{
   	    width: 50%;
   }

}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .carousel-first .left.carousel-control {
    left: -10px;
}

.carousel-first .right.carousel-control {
    right: -30px;
}


.market-research-report .left.carousel-control {
	left: 0;
	}

.market-research-report .right.carousel-control {
	right: -117px;
	}
	.blur-overlay {
		opacity: 0.8;
	}

}

